[user]
	email = tla@bea.be
	name = tla
[core]
	editor = emacs

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	l = log --oneline --decorate --color --graph --all

