[user]
	email = tla@bea.be
	name = TLA-BEA
	signingKey = EEDDECE3FC5DAA78A7387EE8D4B7C1A491FD8C10
[core]
	editor = emacs -Q -nw

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	l = log --oneline --decorate --color --graph --all
	s = status --show-stash
	ds = diff --staged	
[pull]
	rebase = false
[tag]
	forceSignAnnotated = true
[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  changed = yellow
  added = green
  untracked = red
[commit]
	gpgsign = true
