*
!.gitignore
!.fonts
!.config
!.config/systemd
!.config/systemd/*
!.config/spotify-tui
!.config/spotify-tui/config.yml
!.config/conky
!.config/conky/conky.conf

!.git*
!toprc
!.zshrc
!README.md
!.spacemacs

!.oh-my-zsh-custom
!.oh-my-zsh-custom/**

.cache/
.config/autostart/
